<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    {{ if .Auth }}
    <a href="/logout"><button>log out</button></a>
    {{ else }}
    <a href="/login"><button>log in</button></a>
    <a href="/register"><button>register</button></a>
    {{ end }}
    <h1>Welcome, {{.Username}}!</h1>

    {{ if .Auth }}
    <h3>Create a new post</h3>
    <form method="post" action="/post">
        <textarea name="textarea" rows="5" cols="40" placeholder="Write something..."></textarea>
        <br>
        <button type="submit">Post</button>
    </form>
    {{ end }}

    <h2>Your Posts:</h2>
    {{ if .Posts }}
    <ul>
        {{ range .Posts }}
        <li>
            <strong>{{ .User }}</strong>: {{ .Post }}
            <br>
            <form action="/">
                <input type="hidden" value="{{ .Id }}" name="like">
                <button type="submit">Like</button>
            </form>
            <form action="/">
                <input type="hidden" value="{{ .Id }}" name="deslike">
                <button type="submit">DesLike</button>
            </form>
            Likes: {{ .Like }} | Dislikes: {{ .Deslike }}
        </li>

        <form method="post" action="/post">
            <input type="text" name="comment" placeholder="Add a comment...">
            <input type="hidden" name="postID" value="{{ .Id }}">
            <button type="submit">Send</button>
        </form>

        <details>
            <summary>Show Comments</summary>
            <ul>
                {{ range .Comment }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </details>
    </ul>
    {{ end }}
    </ul>
    {{ else }}
    <p>You have no posts yet.</p>
    {{ end }}




</body>

</html>