<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <div class="container">
        <div>
          <label for="name">name:</label>
          <input name="name" type="text" id="name" />
        </div>
        <div>
          <label for="Email">Email:</label>
          <input name="email" type="email" id="Email" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input name="password" type="password" id="password" />
        </div>
        <div>
          <label for="Cpassword">Conferm Password:</label>
          <input type="password" id="Cpassword" />
        </div>
        <button id="submit">submit</button>
      </div>
    </form>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        width: 100%;
        height: 100vh;
        background-color: azure;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 50%;
        height: 50vh;
        border: 1px dashed black;
        /* display: none; */
      }
      div {
        width: 60%;
        height: 60px;
        font-size: 1.25rem;
      }
    </style>
  </body>
</html>
