<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>

<body>
  <form action="/register" method="POST">

    <div class="container">
      <div>
        <label for="name">name:</label>
        <input name="user" type="text" id="name" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input name="password" type="password" id="password" />
      </div>
      <button id="submit">submit</button>
    </form>
  </div>
  </form>
</body>

</html>