<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="visualize/index.css">
  <title>register</title>
</head>

<body>
  <header>
    <ul>
      <li><a href="/login">Log in</a></li>
    </ul>
  </header>
  <form action="/register" method="POST">
    <div class="container">
      <div>
        <label for="email">Emile:</label>
        <input name="email" type="email" id="email" />
      </div>
      <div></div>
        <label for="name">Name:</label>
        <input name="user" type="text" id="name" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input name="password" type="password" id="password" />
      </div>
      <button id="submit">submit</button>
    </form>
  </div>
  </form>
</body>

</html>